.main {
  padding: 15px 25px;
  background-color: #564d4d;
  display: flex !important;
  flex-direction: column;
  min-height: fit-content !important;
  height: 92vh !important;
  justify-content: space-between;
  overflow-y: hidden;

  /* background-image: url("https://i.redd.it/ehjgk76y2kv41.jpg");
  background-size: 100vw;
  background-repeat: no-repeat;; */
}
