.main {
  padding: 15px 25px;
  background-color: #564d4d;
  display: flex !important;
  flex-direction: column;
  height: 92vh !important;
  justify-content: space-between;
  overflow-y: hidden;

  background-image: url("https://rare-gallery.com/uploads/posts/554538-marvel-heroes.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
