.header {
    padding: 5px 30px;
    background-color: #050505;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 7svh;
    min-height: 80px !important;
    .logo{
      width: 33%;
      img {
        width: 100px;
      }
    }

     .menu{
      display: flex;   
      align-items: center; 
      width: 33%;
      justify-content: center;
      } 
    .espacamento {
      display: flex;
      justify-content: right;
      width: 33% !important;
    }
    .dropdown{
      display: none;
    }
  }

  @media (max-width: 600px) {
    .logo{
      width: 50% !important;
      
    }
    .menu{
      width: 50% !important;
    }
    .espacamento {
      display: none !important;
    }
  }

  @media (max-width: 450px) {
    .menu {
      display: none !important;
    }

    .dropdown{
      display: flex !important;
      align-items: center;
      button{
        max-height: fit-content !important;
        background:none !important;
        border: none;
        padding: 0;
        margin: 0;
        i{
          font-size: 35px;
        }
      }
      .offcanvas{
        background-color: #151515;
        color: white;
        width: 40%;
      }
      .offcanvas-header{        
        color: white;
        width: 100%;
        display: flex;
        justify-content: end;
        button{
          margin: 0 15px 0 0; 
          box-shadow: none !important;
        }

      }

      .offcanvas-body{  
        width: 100%;
        display: flex;
        justify-content: end;
        ul{
          margin-top: 10px;
          list-style: none;
          li{
            margin: 10px 15px;
            font-size: 20px;
            text-align: end;
            a{
              color: #ffffff;
              text-decoration: none;
              &:hover{
                cursor: pointer;
                transform: scale(1.15);
                text-decoration: underline;
              }
            }

            a.active{
              font-weight: 600;
              text-decoration: underline;
            }

           
          }
      
        }
   
      }
    }
  }