.card-container {
  margin: 15px 25px;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -o-perspective: 1000;
  perspective: 1000;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  /* border-radius: 5px;
  -webkit-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.75); */
  
}
.card {
  width: 15rem;
  height: 20rem;
  -webkit-transform-style: preserve-2d;
  transform-style: preserve-2d;
  border: none;
  margin: 10px;
  background: none;
}

.front,
.back {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  /* -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms; */
  transition: transform 300ms ease, -webkit-transform 300ms;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  border: 3px solid rgba(130, 130, 130, 0.755);
}
.card .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  justify-content: space-between;

  
  
  .card-img {
    width: 100%;
    height: 82%;
    padding: 15px;
    border-radius: 0;

    background-color: #353535;
    .char-img {
      width: 100%;
      height: 90%;
      border-radius: 5px ;
      border: #101010 5px solid;      
    }
  }
  .card-body {
    background-color: #e62429;
    width: 100%;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 8px 7px;
    max-height: 60px;
    font-size: 17px;
  }
}
.card .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  /* transition: width 1s ease 500ms; */
  /* transition-delay: 1s; */
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 7px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.8);
  padding: 10px 12px;
  background-color: #0b0e12;
  .descricao {
    min-height: 90%;
    max-height: 90%;
    h3 {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      max-height: 10%;
    }
    p {
      font-size: 14px;
      margin: 0 10px;
      overflow-y: auto;
      min-height: 80%;
      max-height: 80%;
    }
  }
  .favorite {
    max-height: 10%;
  }
}
.card:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  cursor: pointer;
}
.card:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);

  /* transition: width 1s ease 500ms; */
  /* width: 200%;    */
  cursor: pointer;
}
/* .card:hover {
  transition: width 1s cubic-bezier(0.36, 0, 0.66, -0.56) 300ms;
  width: 220%;
} */

.bi {
  color: red;
  font-size: 25px;
  cursor: pointer;
}

@media (max-width: 630px) {
  .card {
    width: 45%;
    height: 17rem;
    .card-img {
      width: 100% !important;
    }
  }
}

@media (max-width: 630px) {
  .card {
    width: 45%;
    height: 17rem;
    .card-img {
      width: 100% !important;
    }
  }
}

@media (max-width: 540px) {
  .card {
    width: 42%;
    height: 15rem;
    .card-img {
      width: 100% !important;
    }
    p{
      font-size: 12px;
    }
  }
 
}

@media (max-width: 450px) {
  .card {
    width: 42%;
    height: 12rem;
    .card-img {
      width: 100% !important;
    }
  }
}

@media (max-width: 400px) {
  .card {
    width: 9rem;
    height: 12rem;
    .card-img {
      width: 100% !important;
    }
  }
}
