.navMenu {
  display: flex !important;
  height: 100%;
  align-items: center;
  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    margin: 0 15px;
    &:hover {
      transition: 200ms;
      transform: scale(1.2);
    }
  }

  a.linkHome.active {
    font-weight: 600;
    transform: scale(1.2);

  }
  a.linkFavoritos.active {
    font-weight: 600;
    transform: scale(1.2);
  }
}
