.navConteiner{
    width: 100%;
    height: fit-content;
    padding: 15px 0 0 0 ;
    display: flex;
    justify-content: center;
    ul{
        padding: 0;
        margin: 0;
    }
}

.pagination{
    --bs-pagination-bg:#202020;
    --bs-pagination-border-color: #151515;
    --bs-pagination-color: #e62429;
    --bs-pagination-disabled-bg: #505050;
    --bs-pagination-disabled-color: #c04246;
    --bs-pagination-disabled-border-color: #151515;

    --bs-pagination-padding-x: 0.75rem;
    --bs-pagination-padding-y: 0.375rem;
    --bs-pagination-font-size: 1rem;

    --bs-pagination-border-width: 1px;
    --bs-pagination-border-radius: 0.375rem;
    --bs-pagination-hover-color: #e62429;
    --bs-pagination-hover-bg: #303030;
    --bs-pagination-hover-border-color: #606060;
    --bs-pagination-focus-color:#e62429;
    --bs-pagination-focus-bg: #202020;
    --bs-pagination-focus-box-shadow: none;
    --bs-pagination-active-color: #e62429;
    --bs-pagination-active-bg: #101010;
    --bs-pagination-active-border-color: #151515;
    i{
        font-size: 16px !important;
    }
}

