.app-container {
  width: 100vw;
  height: 100svh;
  background-color: #151515;
  margin: 0;
  padding: 0;
  background-image: url("/images/background-app.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  

  overflow: hidden;
}

.app-container::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 79px;
  left: 0;
  right: 0;
  bottom: 0;
}
