  .container{
    width: 100vw !important;
    height: 100vh;
    background-color: #564d4d;
    margin: 0;
    padding: 0;
    max-width: none;
  }

  .container::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.5); 
  position: absolute;
  top: 8%;
  left: 0;
  right: 0;
  bottom: 0;
}